.hero-section {
  position: relative;
  overflow: hidden;
  background-color: #FEF4F3;
  width: 100%;
}

.hero-image-container {
  width: 100%;

  img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    display: block;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    width: 100%;

    img {
      width: 100%;
      max-height: 95vh;
      min-height: 70vh;
      object-fit: contain;
    }
  }
}
