@use "sass:color";

$bg-color: #D1CFB1;
$text-color: #1a3a2a;
$button-bg: #112e1f;
$white: #ffffff;

.hero-container {
  background-color: $bg-color;
  padding: 90px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;
}

.hero-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 60px;
  align-items: center;
}

.hero-left {
  flex: 1.4;
}

.hero-title {
  color: #000000;
  font-size: 48px;
  font-weight: 100;
  line-height: 1.15;
  margin: 0;
  letter-spacing: -0.5px;
  font-family: "Marcellus", serif;
}

.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero-description {
  color: $text-color;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #E0B1A9;
  color: $white;
  border: none;
  padding: 16px 28px;
  border-radius: 8px;

  font-size: 17px;
  font-weight: 500;
  font-family: "Marcellus", serif;

  cursor: pointer;
  width: fit-content;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.22);
  transition: all 0.25s ease;

  &:hover {
    background-color: #CA9F97;
    transform: translateY(-2px);
  }
}

.whatsapp-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

/* Responsivo */
@media (max-width: 968px) {
  .hero-container {
    padding: 80px 24px 40px;
  }

  .hero-content {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
  }

  .hero-description {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
  }
}
