.text-image-section {
  display: flex;
  justify-content: center;
  padding: 9rem 3rem 0;
  position: relative;
  overflow: hidden;

  background: linear-gradient(
    155deg,
    #C9C5A3 0%,
    #CAC5A3 35%,
    #D4D2B6 80%,
    #DEDAC4 100%
  );

  .control-space-presentation {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 3rem;
    position: relative;
    z-index: 2;

    .text-container {
      flex: 1;
      max-width: 600px;
      padding-bottom: 3rem;

      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: #0f1a2d;
        font-weight: 400;
        font-family: 'Marcellus', serif;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.7;
        margin-bottom: 1.8rem;
        color: #333;
        font-family: 'Quicksand', sans-serif;
      }

      .buttons-container {
        display: flex;
        gap: 1rem;
      }

      .btn-primary,
      .btn-secondary {
        padding: 0.9rem 1.6rem;
        border-radius: 8px;
        cursor: pointer;
        font-family: 'Quicksand', sans-serif;
        white-space: nowrap;
        transition: all 0.3s;
      }

      .btn-primary {
        background-color: #E0B1A9;
        color: #fff;
        border: none;

        &:hover {
          background-color: #ca9f97;
        }
      }

      .btn-secondary {
        background-color: transparent;
        color: #646464;
        border: 1.5px solid #646464;

        &:hover {
          background-color:#E0B1A9;
           border: 1.5px solid #fff;
          color: #fff;
        }
      }
    }

    .image-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      img {
        width: 100%;
        max-width: 550px;
        height: auto;
        display: block;
        margin-bottom: 0;
      }
    }
  }
}


@media (max-width: 992px) {
  .text-image-section {
    padding: 2rem 1.5rem 0;

    .control-space-presentation {
      flex-direction: column;

      .text-container {
        max-width: 100%;
        padding-bottom: 2rem;

        h2 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1rem;
          text-align: justify;
        }

        .buttons-container {
          flex-direction: column;
          width: 100%;
        }

        .btn-primary,
        .btn-secondary {
          width: 100%;
          text-align: center;
        }
      }

      .image-container {
        align-items: flex-end;
        margin-top: 1.5rem;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
