.services-section {
  padding: 4rem 1rem;
  background-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  position: relative;
  margin-top: -30px;// puxa para baixo, sobrepondo o hero
  margin-bottom: -40px; // puxa para cima, sobrepondo o hero
  z-index: 2;

  .services-container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }

  .services-title {
    font-size: 2.3rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1rem;
     font-family: 'Marcellus', serif;
  }

  .services-description {
    max-width: 1100px;
    margin: 0 auto 3rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3em;
  }

  .service-card {
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;


    .service-icon {
      margin-bottom: 1rem;

      img {
        width: 100px;
        height: auto;
      }
    }

    h3 {
      font-size: 1.6rem;
      color: #000000;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-family: 'Marcellus', serif;
    }

    p {
      font-size: 1rem;
      color: #000000;
      line-height: 1.5;
       font-family: 'Quicksand', sans-serif;
    }
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .services-section {
    .services-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  .services-section {
    padding: 3rem 1rem;

    .services-title {
      font-size: 2rem;
    }

    .services-description {
      font-size: 1rem;
      margin-bottom: 2.5rem;
    }

    .services-grid {
      grid-template-columns: 1fr;
      gap: 1.8rem;
    }

    .service-card {
      padding: 1.5rem;

      .service-icon img {
        width: 46px;
      }
    }
  }
}
